---
title: Contact
layout: base
permalink: /contact
---

<div class="container flex">
    <h1>Contact</h1>
    <table class="no-fa">
        {% for profile in site.data.profiles %}
          <tr>
              <td><i class="fa fa-{{ profile.icon }}"></i></td>
              <td>
                  {% if profile.link %}
                    <a href="https://{{ profile.link }}" target="_blank">{{ profile.text}}<i class="fa fa-external-link"></i></a>
                  {% else %}
                    {{ profile.text }}
                  {% endif %}
              </td>
          </tr>
        {% endfor %}
    </table>
    <!-- <p><ul class="no-bullet no-fa"> -->
    <!--     <li><i class="fa fa-envelope-o"></i> wbadart (at) pm (dot) me</li> -->
    <!--     <li><i class="fa fa-linkedin"></i> /in/wbadart</li> -->
    <!-- </ul></p> -->
    <p>
        <a href="/">Home</a> |
        <a href="https://blog.willbadart.com" target="_blank">
            Blog<i class="fa fa-external-link"></i></a>
    </p>
</div>
