---
title: Portfolio
layout: base
permalink: /portfolio
---

<div class="container">

    <h1>Portfolio</h1>
    <p>
        <a href="/">Home</a> |
        <a href="https://github.com/wbadart" target="_blank">
            <i class="fa fa-external-link"></i>Github
        </a>
    </p>

    {% for proj in site.data.projects %}
      <div class="proj">

          <div class="proj-header">
              <h3>{{ proj.title }}</h3>
          </div>

          <div class="proj-body">
              <div class="img-frame">
                  <a href="/assets/img/{{ proj.img.src }}" target="_blank">
                      <img src="/assets/img/{{ proj.img.src }}" alt="{{ proj.img.alt }}">
                  </a>
              </div>
              <p>{{ proj.description }}</p>
          </div>

          <div class="proj-link">
              <p>
                  {% if proj.link %}
                    <a href="{{ proj.link.href }}" target="_blank">
                        <i class="fa fa-external-link"></i>{{ proj.link.name }}
                    </a>
                  {% else %}
                    Not yet live
                  {% endif %}
              </p>
          </div>

      </div>
    {% endfor %}

    <footer>
        <p>
            For more examples of my work, please visit my
            <a href="https://github.com/wbadart" target="_blank">
                <i class="fa fa-external-link"></i>Github profile</a>.
        </p>
    </footer>
</div>
